bin/Debug/net9.0/appsettings.Development.json
bin/Debug/net9.0/appsettings.json
bin/Debug/net9.0/Microsoft.OpenApi.dll
bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
bin/Debug/net9.0/UserManagementAPI.
bin/Debug/net9.0/UserManagementAPI..deps.json
bin/Debug/net9.0/UserManagementAPI..dll
bin/Debug/net9.0/UserManagementAPI..pdb
bin/Debug/net9.0/UserManagementAPI..runtimeconfig.json
bin/Debug/net9.0/UserManagementAPI..staticwebassets.endpoints.json
obj/Debug/net9.0/apphost
obj/Debug/net9.0/staticwebassets.build.endpoints.json
obj/Debug/net9.0/staticwebassets.build.json
obj/Debug/net9.0/UserMana.70E1B042.Up2Date
obj/Debug/net9.0/UserManagementAPI..AssemblyInfo.cs
obj/Debug/net9.0/UserManagementAPI..AssemblyInfoInputs.cache
obj/Debug/net9.0/UserManagementAPI..csproj.CoreCompileInputs.cache
obj/Debug/net9.0/UserManagementAPI..csproj.FileListAbsolute.txt
obj/Debug/net9.0/UserManagementAPI..dll
obj/Debug/net9.0/UserManagementAPI..genruntimeconfig.cache
obj/Debug/net9.0/UserManagementAPI..MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net9.0/UserManagementAPI..MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net9.0/UserManagementAPI..pdb
obj/Debug/net9.0/ref/UserManagementAPI..dll
obj/Debug/net9.0/refint/UserManagementAPI..dll
obj/Debug/net9.0/staticwebassets/msbuild.build.UserManagementAPI..props
obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.UserManagementAPI..props
obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.UserManagementAPI..props
obj/Debug/net9.0/UserManagementAPI..AssemblyInfo.cs
obj/Debug/net9.0/UserManagementAPI..AssemblyInfoInputs.cache
obj/Debug/net9.0/UserManagementAPI..AssemblyInfo.cs
